.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color:  #b6b4f8 !important;
}

.nav-link {
    cursor: pointer;
    color: #007bff;
}

.nav-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.nav-link.text-danger:hover {
    color: #dc3545;
}
/* Custom CSS for Navbar */
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 18px;
    font-weight: bold;
}

.nav-link {
    font-size: 16px;
    font-weight: normal;
    padding: 0px 0px;
}

.btn-link {
    color: #333;
}

.text-danger {
    color: #d9534f;
}
